---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ .Release.Name }}-example-db
  namespace: {{ .Release.Namespace }}
spec:
  capacity:
    storage: 10Mi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  hostPath:
    path: /mnt/data/example-db
