apiVersion: v1
kind: Service
metadata:
  name: '{{ include "image_based_video_search.fullname" . }}-nginx-reverse-proxy'
  labels:
    {{- include "image_based_video_search.labels" . | nindent 4 }}
    katenary.v3/component: nginx-reverse-proxy
spec:
  type: NodePort 
  ports:
  - name: nginx-reverse-proxy-80
    port: {{ .Values.config.nginx.int.http_port }}
    protocol: TCP
    targetPort: {{ .Values.config.nginx.target.http_port }}
    nodePort: {{ .Values.config.nginx.ext.http_port }} 
  - name: nginx-reverse-proxy-443
    port: {{ .Values.config.nginx.int.https_port }}
    protocol: TCP
    targetPort: {{ .Values.config.nginx.target.https_port }}
    nodePort: {{ .Values.config.nginx.ext.https_port }}
  - name: nginx-reverse-proxy-8554
    port: {{ .Values.config.nginx.int.rtsp_port }}
    targetPort: {{ .Values.config.nginx.target.rtsp_port }}
    nodePort: {{ .Values.config.nginx.ext.rtsp_port }}
  selector:
    {{- include "image_based_video_search.selectorLabels" . | nindent 4 }}
    katenary.v3/component: nginx-reverse-proxy