apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ .Release.Name }}-influxdb-pv
  namespace: {{ .Release.Namespace }}
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  hostPath:
    path: /mnt/data/influxdb  # Replace with a valid path on your node